body {
  background-color: white;
  background-image: url("../img/backgrounds/chicago_watercolor_map.jpeg")
}

.homepage-categories,
.theme-gallery {
  text-align: center;
  border-radius: 275px;
}

.thumbnail {
    margin: 0 100px;
}

.btn-primary {
	background-color: gold;
}

div.jumbotron{
	border-radius: 50px;
}
