body {
  background-color: white;
  background-image: url("../img/backgrounds/chicago_watercolor_map.jpeg")
}

.homepage-categories,
.theme-gallery {
  text-align: center;
}

.homepage-categories,
.thumbnail {
    margin: 0 100px;
    border-radius: 50px;
}

.btn,
.btn-primary,
.btn-lg,
.btn-sm,
.btn-default {
	background-color: purple;
  border-color: indigo;
  border-radius: 50px;
  box-shadow: 10px 10px 5px grey;
}

.jumbotron{
	border-radius: 50px;
}

h3 {
  background-color: white;
  border-radius: 50px;
  padding: 20px;
  border-style: outset;
  border-color: indigo;
}

a {
    color: purple;
    text-transform: uppercase;
}

dataset {
  background-color: white;
}
